.csc {
    background-color: yellowgreen;
}
body {
    text-align: center !important;
    background-color: aqua !important;
}
#botonm {
    border-radius: 25%;
    background-color: darkblue;
    color: red;

}
h1 {
    text-decoration-style:dashed;
    color: red;
    
}
h5{ 
    color: darkgreen;
    border: 30px groove black ;
}